.navbar {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 5px 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 100%;
}

.navList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #f0a500;
}
